<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container
    style="height: 100vh"
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list class="mat-nav-list">
        <a
          *ngFor="let route of routes"
          mat-list-item
          [routerLink]="route.path"
          (click)="sidenav.toggle()"
          [ngClass]="{ 'primary-bg': route.path === '' }"
        >
          <span *ngIf="!route?.data?.['is_child']">
            <mat-icon>{{ route?.data?.["icon"] }}</mat-icon>
            <span class="aligned-with-icon">{{ route?.data?.["label"] }}</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="height: 88vh">
        <mat-toolbar color="primary" class="example-toolbar">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <h1 class="example-app-name">DAOFAB Transactions</h1>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
