<div class="hero">
  <div class="hero-text">
    <h2>DIGITAL ESCROW NETWORK <br />FOR COMMERCIAL TRANSACTIONS</h2>
    <p>
      Hold, receive and send multi-currency digital tokens and assets via your
      company’s digital wallet. Earn interests on your digital tokens and
      assets.
    </p>
    <button mat-raised-button color="accent" (click)="visitTransactions()">
      <mat-icon>import_export</mat-icon>Transaction Histories
    </button>
  </div>
  <img
    width="100%"
    src="https://img.freepik.com/premium-vector/silver-flowing-wave-design-dark-background_392592-524.jpg"
    alt="Hero Image"
  />
</div>

<div class="features">
  <h2>Features</h2>
  <div class="feature-card-container">
    <div class="feature-card">
      <i class="material-icons">credit_card</i>
      <h3>Accept Payments</h3>
      <p>
        Whether you’re creating a subscription service, an on-demand
        marketplace, or an e-commerce store, Stripe’s payments platform helps
        you build and scale your business online.
      </p>
    </div>
    <div class="feature-card">
      <i class="material-icons">code</i>
      <h3>Powerful APIs</h3>
      <p>
        Stripe’s APIs are designed for developers who want to customize their
        payment experience. Our thoughtful, developer-first APIs make it easy to
        get up and running.
      </p>
    </div>
    <div class="feature-card">
      <i class="material-icons">dashboard</i>
      <h3>Easy-to-use Dashboard</h3>
      <p>
        Our Dashboard is the center of your Stripe experience. From there, you
        can manage your payments, subscriptions, transfers, and more.
      </p>
    </div>
  </div>
</div>
